@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

.main-nav {
    background-color: #2f3542;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 50px;
}

.main-nav__pages {
    margin: 0;
    padding: 0;
}

.main-nav__page {
    list-style-type: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav__page-link {
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .main-nav {
        width: 768px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
} 