.code-controller {
    height: 100px;
    width: 1200px;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code-controller__button-controls {
    display: flex;
    
}